pact_file_path="05-kafka-json-consumer/target/pacts"
spec_file_path=""

provider_name="kafka-student-provider"
provider_version="provider-version-1"
provider_tag="DEV"
provider_branch="develop"

consumer_name="kafka-student-consumer"
consumer_version="consumer-version-1"
consumer_tag="DEV"
consumer_branch="develop"

